<main class="main container-fluid">
  <div class="col-xs-8">
    <div *ngIf="selectedHero">
      <h2>Valgt: {{selectedHero.name}}</h2>
    </div>
    <div *ngIf="!selectedHero">
      <h2>Valgt: </h2>
    </div>
    <h1>{{title}}</h1>
    <ul class="list">
      <li *ngFor="let hero of heroes" class="listitem" [class.selected]="hero === selectedHero">
        <h3 (click)="onSelect(hero)">{{hero.name}}</h3>
      </li>
    </ul>
  </div>
  <div class="col-xs-4">
    <my-detail [hero]="selectedHero"></my-detail>
  </div>
</main>
